[user]
	email = crtapia@gmail.com
	name = Cristóbal Tapia Camú
[core]
    editor = "nvim"
[submodule]
	recurse = true
[status]
    submoduleSummary = true

[alias]
wdiff = diff --color-words --ignore-all-space
ldiff = difftool -y -t latex

[difftool.latex]
cmd = latexdiff "$LOCAL" "$REMOTE"
